@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
#fix-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 60px;
  background-color: #2d8c46;
}
#fix-bar .logo {
  position: absolute;
  left: 0;
  width: 250px;
  transform: translate3d(-50%, 0, 0);
  transition: transform 0.5s ease;
}
#fix-bar .logo a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 24px;
  width: 60px;
  height: 24px;
  padding: 18px 16px 18px 24px;
  box-sizing: content-box;
}
#fix-bar .push {
  position: relative;
  left: 0;
  height: 100%;
  background-color: #2d8c46;
  transition: transform 0.5s ease;
}
.hamburguer {
  width: 72px;
  height: 60px;
  display: block;
  position: relative;
  cursor: pointer;
}
.hamburguer span {
  display: block;
  position: absolute;
  height: 4px;
  width: 24px;
  background: #fff;
  opacity: 1;
  left: 24px;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}
.hamburguer span:nth-child(1) {
  top: 20px;
}
.hamburguer span:nth-child(2),
.hamburguer span:nth-child(3) {
  top: 28px;
}
.hamburguer span:nth-child(4) {
  top: 36px;
}
#canvas {
  position: relative;
  height: 100%;
  padding-top: 60px;
  overflow: hidden;
}
#nav {
  overflow-y: scroll;
  position: absolute;
  left: 0;
  height: 70%;
  width: 250px;
  transform: translate3d(-50%, 0, 0);
  transition: transform 0.5s ease;
  padding-top: 12px;
  padding-bottom: 60px;
  background-color: #2d8c46;
}
#nav a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 14px 24px;
  font: 20px/1 'Montserrat', sans-serif;
  font-weight: 700;
}
#nav a:hover {
  background-color: #eee;
}
#nav .site-menu {
  position: relative;
  min-height: 100%;
  padding-bottom: 60px;
}
#nav .copy {
  position: absolute;
  bottom: 0;
  padding: 16px 24px;
  font-size: 12px;
  line-height: 1.4;
}
#content {
  background-color: #126bfc;
  overflow-y: scroll;
  position: relative;
  left: 0;
  height: 80%;
  transition: transform 0.5s ease;
  transform: translate3d(0, 0, 0);
  padding: 20px;
}


input#show-menu {
  position: absolute;
  opacity: 0;
}
input#show-menu:checked ~ #fix-bar .push {
  transform: translate3d(250px, 0, 0);
}
input#show-menu:checked ~ #fix-bar .hamburguer span:nth-child(1),
input#show-menu:checked ~ #fix-bar .hamburguer span:nth-child(4) {
  top: 28px;
  width: 0;
  left: 50%;
}
input#show-menu:checked ~ #fix-bar .hamburguer span:nth-child(2) {
  transform: rotate(45deg);
}
input#show-menu:checked ~ #fix-bar .hamburguer span:nth-child(3) {
  transform: rotate(-45deg);
}
input#show-menu:checked ~ #canvas .mask {
  z-index: 1;
  opacity: 1;
  transform: translate3d(250px, 0, 0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
input#show-menu:checked ~ #canvas #nav,
input#show-menu:checked ~ #fix-bar .logo {
  transform: translate3d(0, 0, 0);
}
input#show-menu:checked ~ #canvas #content {
  transform: translate3d(250px, 0, 0);
}
footer
{
  height: 20%;
}
