body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    display: grid;
    grid-template-rows: 5vh 90vh 5vh;
}

header
{
    background-color: #2D8C46;
    display: grid;
    grid-template: 20%/ 20%;
}

section
{
    background-color: #126BFC;

    display: grid;
    grid-template-columns: 12.5% 75% 12.5%;
}
.couloirGauche
{
    background-color: #2D8C46;
    display: flex;
    justify-content: flex-start;
}
.terrainTennisSimple
{
    /* border:solid;
    border-color: #fff;
    border-width: 1px; */
    display: grid;
    grid-template-rows: 50% 50%;
}
.partieHaute
{
    display: grid;
    grid-template-rows: 46% 54%;
}
.partieBasse
{
    display: grid;
    grid-template-rows: 54% 46%;
}
.carresDeService
{
    display: grid;
    grid-template-columns: 50% 50%;
    border-top-width: 0px;
}
.couloirDroit
{
    background-color: #2D8C46;
    display: flex;
    justify-content: flex-end;
}
.grandRectangle
{
    border-bottom-width: 5px;
    border-right-width: 5px;
    border-left-width: 5px;
}
div
{
    border:solid;
    border-color: #fff;
}

h2
{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1/3/1/3;
}
#localisationClub
{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 2/3/2/3;
}
#adresseLacDesPierrelles
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    grid-area: 2/3/2/3;
}

footer
{
    background-color: #2D8C46;

    display: flex;
    justify-content: center;
    align-items: center;
}